  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
  $primaryColor: #877A58;
  $lightWhite: #FAFAFA;
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: $lightWhite;
  }
  
  .bg-primary {
    background-color: $primaryColor;
  }
  
  .text-primary {
    color: $lightWhite;
  }
  
  .text-primary1 {
    color: $primaryColor;
  }
  
  .container-fluid {
    max-width: 1440px;
  }
  
  p {
    line-height: 1.75rem;
  }
  
  .max-height {
    max-height: 75rem;
    overflow: hidden;
  }
  
  .logo {
    background-color: #AEAC99;
    color: $primaryColor;
    width: 350px !important;
    height: 100px;
  }
  
  header {
    background: url("./images/Rectangle\ 68.jpg") no-repeat right bottom;
    // object-fit: contain;
    // background-size: contain;
    background-size: 70% 100%;
    // max-width: 1400px;
    // margin: auto;
  }
  
  .scroll {
    height: 70px;
    .logo {
      height: 70px;
    }
  }
  .nav-div{
    height: 100px;
  }
  nav ul {
    font-family: 'Open Sans', sans-serif;
    li {
      border-bottom: 2px solid $lightWhite;
      padding: 0 .25rem;
    }
    li:hover {
      cursor: pointer;
      border-bottom-color: $primaryColor;
    }
  }
  
  .top-70 {
    top: 70px;
  }
  
  .active-nav {
    font-weight: 800;
    color: $primaryColor;
  }
  
  footer {
    border-top-color: $primaryColor;
  }
  
  .thefooter {
    background: url('./images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  button:focus {
    outline: none;
  }
  
  .active-g {
    color: #FAFAFA;
  }
  
  // Dark Mode
  .darkmode {
    background-color: #181818;
    color: white;
    .shadow-lg{
      box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05);
}
    .bg-white {
      background-color: #181818;
    }
    nav ul {
      li {
        border-bottom: 2px solid #181818;
        &:hover {
          border-bottom-color: $primaryColor;
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .logo {
      width: 250px !important;
      height: 80px;
    }
    .scroll,.scroll .logo,.nav-div {
      height: 80px;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 200px !important;
      height: 60px !important;
    }
    .scroll,.nav-div {
      height: 60px;
    }
    .top-70{
      top: 60px;
    }
    body {
      font-size: 14px;
    }
  }